.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-tabs>li>a.nav-link.active {
    border-width: 1px;
    border-color: #dddddd;
}

.nav-tabs > li > a.nav-link {
    cursor: pointer;
}
.expander:hover {
    cursor: pointer;
}

.tab-content {
    display: none;
    margin: 3px;
    border-radius: 4px;
}

.tab-content.active {
    display: block;
}

.hidden {
    display: none;
}

.expander {
    cursor: default;
}

.tree-td {
    width: 50%;
}


