
@{
    ViewBag.Title = "AccesError";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccesError</title>
</head>
<body>
    <div>
        <h2>Вам надо быть авторизованым, как менеджер</h2>
    </div>
</body>
</html>
